<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>CodeFury 2020</display-name>
  <welcome-file-list>
    <welcome-file>homePage.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ValidateLoginController</display-name>
    <servlet-name>ValidateLoginController</servlet-name>
    <servlet-class>com.hsbc.system.controller.ValidateLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateLoginController</servlet-name>
    <url-pattern>/validateLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionController</display-name>
    <servlet-name>ActionController</servlet-name>
    <servlet-class>com.hsbc.system.controller.ActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionController</servlet-name>
    <url-pattern>/actionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RoomController</display-name>
    <servlet-name>RoomController</servlet-name>
    <servlet-class>com.hsbc.system.controller.RoomController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoomController</servlet-name>
    <url-pattern>/roomController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.hsbc.system.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/adminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MeetingDataController</display-name>
    <servlet-name>MeetingDataController</servlet-name>
    <servlet-class>com.hsbc.system.controller.MeetingDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MeetingDataController</servlet-name>
    <url-pattern>/meetingDataController</url-pattern>
  </servlet-mapping>
</web-app>